<div
  id="dataView"
  [ngClass]="{ 'data-blur': dataLoading == true, collapsed: collapsedPanel }"
>
  <app-dataloader-div id="dataLoader"></app-dataloader-div>

  <div class="site-meta dataview-padding">
    <app-tabs>
      <tab [tabTitle]="'Trend Results'">
        <br />
        <p>
          In testing phase - this section will have trend information.
          <br />
        </p>
      </tab>
      <tab [tabTitle]="'Graphs'">
        <br />
        <p style="margin-bottom: 0">
          In testing phase - this section will have trend graphs.
          <br />
        </p>
      </tab>
    </app-tabs>
  </div>
</div>
