<!--
  Main wrapper
  Flex column
-->

<div id="outer" [ngClass]="{ blur: aboutModal }">
  <!--
		Page header
		- Nav, links, branding, etc
	-->
  <header id="main" style="background-color: #01579b">
    <!-- Branding / Logo -->
    <div id="branding">
      <i
        class="far"
        id="sidebarToggle"
        (click)="expandSidebar = !expandSidebar"
      ></i>
      <!-- USGS Logo -->
      <a
        href="https://usgs.gov"
        alt="USGS Home Page"
        title="USGS Home Page"
        target="_blank"
        id="usgsLogo"
      >
        <img
          src="https://www.usgs.gov/sites/all/themes/usgs_palladium/logo.png"
        />
      </a>
      <!-- Title -->
      <div id="title" class="projectTitle">
        Great Lakes Water Quality Trends (DEMO)
      </div>
    </div>
    <!-- Links on right -->
    <nav id="headerLinks">
      <a (click)="aboutModal = true">About</a>
    </nav>
  </header>

  <!--
		Main body wrapper
		Main body wrapper
		Main body wrapper
	-->
  <div id="body">
    <!-- <app-loading-screen></app-loading-screen> -->
    <!--
		Sidebar
		Sidebar
		-->
    <app-mainview-sidebar></app-mainview-sidebar>

    <!--
		Content
		Content
		Content
		-->
    <main>
      <!-- Map -->
      <!-- <div id="map"></div> -->
      <app-mainview-map></app-mainview-map>

      <app-mainview-dataview></app-mainview-dataview>
    </main>
    <!-- End Main Content -->
  </div>
  <!-- End Main Body Wrapper-->
</div>

<!--
  ================================================================
  Modals
  Modals
  Modals - 1,0000 z-index base
  ================================================================
 -->
<!-- About Modal -->
<div class="modal-wrapper" *ngIf="aboutModal" (click)="aboutModal = false">
  <div class="modal" id="aboutModal" (click)="$event.stopPropagation()">
    <div class="modal-header">
      <div class="title">About</div>
      <div class="modal-close" (click)="aboutModal = false">&times;</div>
    </div>

    <div class="modal-content">
      <app-tabs>
        <tab [tabTitle]="'About This'">
          <br />
          <h6>About this Application</h6>

          <p>About this application.</p>
        </tab>
        <tab [tabTitle]="'Data Sources'">
          <br />
          <h6>U.S. EPA Data</h6>
          <p style="margin-bottom: 0">
            Documentation:
            <!-- <a href="https://www.epa.gov/cleanups/cimc-about-data" target="_blank"> https://www.epa.gov/cleanups/cimc-about-data</a> -->
          </p>
          <p style="margin-bottom: 0">
            REST Services:
            <!-- <a href="https://map22.epa.gov/arcgis/rest/services/cimc/Cleanups/MapServer/" target="_blank"> EPA Cleanups in My Community (CIMC) services</a> -->
          </p>
          <h6>Other Data</h6>
          <p style="margin-bottom: 0">
            Documentation:
            <!-- <a href="https://www.tbs-sct.gc.ca/fcsi-rscf/home-accueil-eng.aspx" target="_blank"> https://www.tbs-sct.gc.ca/fcsi-rscf/home-accueil-eng.aspx</a> -->
          </p>
          <p style="margin-bottom: 0">
            REST Services:
            <!-- <a href="https://services1.arcgis.com/VrOlGiblUSWCQy8E/ArcGIS/rest/services/Federal_Contaminated_Sites/FeatureServer"> Federal Contaminated Sites Inventory (FCSI) services (updated annually)</a> -->
          </p>
        </tab>
        <tab [tabTitle]="'Details'">
          <br />
          <h6>Software</h6>
          <p>Angular 11</p>
        </tab>
      </app-tabs>
    </div>

    <div class="modal-actions right">
      <button (click)="aboutModal = false">Close</button>
    </div>
  </div>
</div>
