<i
  class="far"
  id="sidebarToggle"
  (click)="expandSidebar = !expandSidebar"
  [ngClass]="{ 'fa-bars': !expandSidebar, 'fa-times': expandSidebar }"
></i>

<div id="sidebar" [ngClass]="{ expanded: expandSidebar }">
  <!-- Scrolling sidebar content -->
  <div class="sidebar-scroll">
    <!--  Sidebar Basemaps  -->
    <div
      class="sidebar-header"
      (click)="showBasemaps = !showBasemaps"
      [ngClass]="{ expanded: showBasemaps }"
    >
      <i class="fal fa-map"></i>
      <b><span>Basemaps</span></b>
    </div>

    <!-- Basemaps content -->
    <div class="sidebar-content" [ngClass]="{ expanded: showBasemaps }">
      <div id="sidebarBasemaps" class="sidebarLayer">
        <div
          class="basemap"
          id="basemap1"
          (click)="toggleLayer('OpenStreetMap')"
          [ngClass]="{ active: chosenBaseLayer == 'OpenStreetMap' }"
        >
          Streets
        </div>
        <div
          class="basemap"
          id="basemap2"
          (click)="toggleLayer('Topo')"
          [ngClass]="{ active: chosenBaseLayer == 'Topo' }"
        >
          Topographic
        </div>
        <div
          class="basemap"
          id="basemap4"
          (click)="toggleLayer('Terrain')"
          [ngClass]="{ active: chosenBaseLayer == 'Terrain' }"
        >
          Terrain
        </div>
        <div
          class="basemap"
          id="basemap5"
          (click)="toggleLayer('Satellite')"
          [ngClass]="{ active: chosenBaseLayer == 'Satellite' }"
        >
          Satellite
        </div>
        <div
          class="basemap"
          id="basemap5"
          (click)="toggleLayer('Gray')"
          [ngClass]="{ active: chosenBaseLayer == 'Gray' }"
        >
          Gray
        </div>
        <!-- <div class="basemap" id="basemap6" (click)="toggleLayer('Nautical')" [ngClass]="{ active: chosenBaseLayer == 'Nautical' }">Nautical</div> -->
      </div>
    </div>

    <div
      class="sidebar-header"
      (click)="showAuxLayers = !showAuxLayers"
      [ngClass]="{ expanded: showAuxLayers }"
    >
      <i class="fal fa-object-group"></i>
      <b><span>Additional Layers</span></b>
    </div>

    <!-- Auxlayer content -->
    <div class="sidebar-content" [ngClass]="{ expanded: showAuxLayers }">
      <div id="sidebarAuxLayers" class="sidebarLayer">
        <div class="basemap">
          <label>
            <input
              type="checkbox"
              id="aux1"
              checked
              (click)="toggleAuxLayer('basin', 'aux1')"
            />Great Lakes Basin Boundary<br />
            <input
              type="checkbox"
              id="aux2"
              (click)="toggleAuxLayer('basinArea', 'aux2')"
            />Great Lakes Sub-Basins<br />
            <input
              type="checkbox"
              id="aux3"
              (click)="toggleAuxLayer('watersheds', 'aux3')"
            />Watersheds<br />
            <input
              type="checkbox"
              id="aux4"
              (click)="toggleAuxLayer('majorStreamlines', 'aux4')"
            />Major Tributaries<br />
            <input
              type="checkbox"
              id="aux5"
              checked
              (click)="toggleAuxLayer('gageSites', 'aux5')"
            />Gages<br />
            <!-- <input type="checkbox" id ="aux4" checked (click)="toggleAuxLayer()"/>Aux4<br> -->
          </label>
        </div>
      </div>
    </div>

    <div
      class="sidebar-header"
      (click)="showFilters = !showFilters"
      [ngClass]="{ expanded: showFilters }"
    >
      <i class="fal fa-bars"></i>
      <b><span>Constituent Select</span></b>
    </div>
    <!-- Filter Content-->
    <div class="sidebar-content" [ngClass]="{ expanded: showFilters }">
      <div id="sidebarFilters" class="sidebarLayer">
        <div
          id="constPanel"
          class="panel-collapse collapse in constituent-panel"
          role="tabpanel"
          aria-labelledby="constPanelHeader"
        >
          <div id="constDropdowns" style="padding: 2px 2px">
            <label for="typeSelect" class="constLabel">Constituent Group</label>
            <span>
              <select id="typeSelect">
                <option value="Nutrients" select="#nutrientsSelect">
                  Nutrients
                </option>
                <option value="TBD" select="#tbdSelect">TBD</option>
              </select>
            </span>
            <br />
          </div>
          <div>
            <label class="constLabel">Constituent</label>
            <span>
              <select id="typeSelect">
                <option value="TP" select="#tpSelect">
                  Total Phosphorus (TP)
                </option>
                <option value="orthoP" select="#orthoPSelect">
                  Dissolved Phosphorus (ortho P)
                </option>
                <option value="SS" select="#ssSelect">
                  Suspended Sediment (SS)
                </option>
                <option value="NO3" select="#no3Select">Nitrate (NO3)</option>
                <option value="KJ" select="#kjSelect">
                  Kjedahl Nitrogen (KJ)
                </option>
                <option value="NH4" select="#nh4Select">Ammonia (NH4)</option>
                <option value="Cl" select="#clSelect">Chloride (Cl)</option>
              </select>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Sidebar lightbox for mobile -->
  <div
    id="sidebarLightbox"
    [ngClass]="{ visible: expandSidebar }"
    (click)="expandSidebar = false"
  ></div>
</div>
