@import "../../styles/styleguide/variables.less";

// Mobile menu toggle
// Outside sidebar
#sidebarToggle {
  color: white;
  display: none;
  flex-direction: column;
  justify-content: center;
  transition: 0.2s;
  font-size: 20px;
  width: 24px;
  text-align: center;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 54px;
  width: 54px;

  &:hover,
  &:active {
    cursor: pointer;
    opacity: 0.6;
    transition: 0.2s;
  }

  @media only screen and (max-width: 1200px) {
    display: flex;
  }
}

.wimCred {
  color: gray;
  text-align: center;
  font-size: 12px;
  margin-top: 10px;
  text-decoration: none;
  &:hover {
    color: black;
  }
}

// Sidebar
#sidebar {
  .sidebar-header {
    //font-family: poppins;
    background-color: #eceef3;
    font-family: "Glyphicons Halflings";
    border-bottom: green;
    font-weight: 500;
    font-size: 18px;
    color: #6f758e;
    letter-spacing: -0.3px;
    display: flex;
    box-sizing: border-box;
    padding: 10px 15px;

    i {
      width: 30px;
      height: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    b {
      display: flex;
      justify-content: space-between;
      flex-grow: 3;

      &:after {
        content: "\f067";
        font-family: "Font Awesome 5 Pro";
        right: 15px;
        color: fade-out(black, 0.8);
        font-size: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      span {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 3;
      }
    }

    &.expanded {
      b:after {
        content: "\f068";
      }
    }

    &:hover {
      cursor: pointer;
      background-color: white;
      color: black;

      b {
        &:after {
          color: black;
        }
      }
    }
  }

  hr.below {
    margin-top: -2px;
    margin-bottom: -1px;
  }
  // Content Blocks
  // Expand with class .expanded
  .sidebar-content {
    display: block;
    box-sizing: border-box;
    background-color: white;
    // max-height: 0px;
    // transition: max-height 0.15s 0.15s, transform 0.15s 0s ease;
    overflow: visible;
    padding: 0 15px 0 45px;
    // transform: scaleY(0);
    // transform-origin: 0 0;
    display: none;

    &.expanded {
      // transition: max-height 0.15s 0s, transform 0.15s 0.15s ease;
      // max-height: 700px;
      // overflow: auto;
      display: block;
      // transform: scaleY(1);
    }
  }

  // Sidebar Basemaps
  // Sidebar Basemaps
  // Sidebar Basemaps
  .sidebarLayer {
    .basemap {
      display: block;
      font-family: sans;
      font-size: 13px;
      font-weight: 500;
      box-sizing: border-box;
      letter-spacing: -0.2px;
      padding: 3px 0;
      color: black;

      &:hover {
        cursor: pointer;
      }

      &.active {
        color: primary;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

.constituent-panel {
  box-sizing: border-box;
  padding: 15px 15px;
}
.constituent-panel select {
  display: block;
  width: 100%;
  box-sizing: border-box;
  background-color: transparent;
  height: 40px;
  line-height: 38px;
}
.constituent-panel label {
  display: block;
  text-align: center;
}
.constituent-panel .sidebar-radio-wrapper {
  display: block;
  box-sizing: border-box;
  padding: 4px 0;
}
.constituent-panel .sidebar-radio-wrapper input {
  margin-right: 10px;
  position: relative;
  top: -1px;
}
.constLabel {
  font-size: 14px;
  font-weight: 500;

  font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
}
.zoomWarning {
  font-size: 10;
  margin-top: 3px;
}
.legendStyle {
  top: 60px;
  right: 45px;
  padding: 4px;
  z-index: 1000;
  color: black;
  background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
  border-radius: 4px;
  cursor: pointer;
  width: 160px;
  word-wrap: none;
}
.mapLayerTitle {
  font-family: "Glyphicons Halflings";
  text-align: center;
}
hr.legendBreak {
  border: 1px dashed gray;
}
.legend-icon {
  display: flex;
  position: relative;
  margin-left: 10px !important;

  label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 22px;
    height: 24px;
  }

  .wmm-pin {
    z-index: 0;
    top: 14px;
    left: 4px;
    position: absolute !important;
    transform: scale(0.65);
  }
  .wmm-square {
    position: absolute !important;
    transform: scale(0.8);
    top: 1px;
    left: 4px;
  }
}
.wmm-inverse-triangle-legend {
  height: 0px !important;
  width: 0px !important;
  background-color: transparent !important;
  background-color: transparent;
  position: absolute;
  bottom: 1px;
  padding: 0;
  overflow: visible !important;
  font-size: 14px;
  overflow: visible !important;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 20px solid white;
  top: -2px;
  left: -1px;
}
.wmm-size-20.wmm-inverse-triangle-legend-hollow:after {
  content: "\25bd";
  background-color: transparent;
  font-size: 30px;
  font-family: sans-serif;
  position: relative;
  left: -12px;
  top: -32px;
}
.wmm-inverse-triangle-legend.wmm-black {
  border-top-color: black;
}
.wmm-inverse-triangle-legend {
  border-top-color: transparent;
}
.wmm-inverse-triangle-legend:after {
  color: black;
}

.wmm-triangle-legend {
  height: 0px !important;
  width: 0px !important;
  border-top: none !important;
  background-color: transparent !important;
  background-color: transparent;
  position: absolute;
  bottom: 1px;
  padding: 0;
  overflow: visible !important;
  color: white !important;
  font-size: 14px;
  overflow: visible !important;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 20px solid white;
  top: -2px;
  left: -1px;
}
.wmm-size-20.wmm-triangle-legend:after {
  content: "\25b2";
  background-color: transparent;
  font-size: 18px;
  font-family: sans-serif;
  position: relative;
  left: -9px;
  top: 2px;
}
.wmm-triangle-legend.wmm-red-hollow {
  border-bottom-color: red;
}
.wmm-triangle-legend.wmm-red-hollow:after {
  color: white;
}
.triangle-margin-large {
  margin-top: 13px;
}
.triangle-margin-small {
  margin-top: 8px;
}
