<i
  class="far"
  id="sidebarToggle"
  (click)="expandSidebar = !expandSidebar"
  [ngClass]="{ 'fa-bars': !expandSidebar, 'fa-times': expandSidebar }"
></i>

<!-- Start legend -->
<div class="leaflet-top leaflet-right legendStyle">
  <div *ngIf="activeLayers">
    <span class="mapLayerTitle"> <b>Map Layers</b></span>
    <hr />
    <div *ngIf="basinVisible" class="legend-icon">
      <div class="wmm-square wmm-icon-circle wmm-size-20 basin-icon"></div>
      <label>Great Lakes Basin Boundary</label>
    </div>
    <div *ngIf="subBasinVisible" class="legend-icon">
      <div class="wmm-square wmm-icon-circle wmm-size-20 subbasin-icon"></div>
      <label>Great Lakes Sub-Basins</label>
    </div>
    <div *ngIf="watershedsVisible" class="legend-icon">
      <div class="wmm-square wmm-icon-circle wmm-size-20 watershed-icon"></div>
      <label>Watersheds</label>
    </div>
    <div *ngIf="gageVisible" class="legend-icon">
      <div
        class="wmm-pin wmm-altblue wmm-icon-circle wmm-icon-white wmm-size-20"
      ></div>
      <label>Gages</label>
    </div>
    <div *ngIf="streamVisible" class="legend-icon streamAlign">
      <div class="stream-icon"></div>
      <label>Streams and Rivers</label>
    </div>
    <hr class="legendBreak" />
  </div>
  <div>
    <span class="mapLayerTitle"> <b>Trends</b></span>
    <hr />
    <div style="margin-left: 8px">
      <div class="legend-icon">
        <div class="wmm-triangle wmm-red wmm-icon-triangle wmm-size-20"></div>
        <label>Likely up</label>
      </div>
      <div class="legend-icon">
        <div class="wmm-triangle-legend wmm-red-hollow wmm-size-20"></div>
        <label>Somewhat likely up</label>
      </div>
      <div class="legend-icon">
        <div
          class="wmm-circle wmm-yellow wmm-icon-circle wmm-icon-black wmm-size-20"
        ></div>
        <label>About as likely as not</label>
      </div>
      <div class="legend-icon">
        <div
          class="wmm-inverse-triangle-legend wmm-inverse-triangle-legend-hollow triangle-margin-large wmm-white wmm-icon-inverse-triangle wmm-size-20"
        ></div>
        <label>Somewhat likely down</label>
      </div>
      <div class="legend-icon">
        <div
          class="wmm-inverse-triangle-legend wmm-black wmm-size-20 triangle-margin-small"
        ></div>
        <label>Likely down</label>
      </div>
    </div>
  </div>
</div>
<!-- End legend -->

<div
  id="sidebar"
  [ngClass]="{ expanded: expandSidebar }"
  style="background-color: #eceef3"
>
  <!-- Scrolling sidebar content -->
  <div class="sidebar-scroll">
    <!--  Sidebar Basemaps  -->
    <div
      class="sidebar-header"
      (click)="showBasemaps = !showBasemaps"
      [ngClass]="{ expanded: showBasemaps }"
    >
      <i class="fal fa-map"></i>
      <b><span>Basemaps</span></b>
    </div>
    <hr class="below" />

    <!-- Basemaps content -->
    <div class="sidebar-content" [ngClass]="{ expanded: showBasemaps }">
      <div id="sidebarBasemaps" class="sidebarLayer">
        <label>
          <input
            type="radio"
            id="basemap1"
            (click)="toggleBasemap('OpenStreetMap', 'basemap1')"
          />
          Streets
          <br />
          <input
            type="radio"
            checked
            id="basemap2"
            (click)="toggleBasemap('Topo', 'basemap2')"
          />
          Topographic <br />
          <input
            type="radio"
            id="basemap3"
            (click)="toggleBasemap('Terrain', 'basemap3')"
          />
          Terrain
          <br />
          <input
            type="radio"
            id="basemap4"
            (click)="toggleBasemap('Satellite', 'basemap4')"
          />
          Satellite <br />
          <input
            type="radio"
            id="basemap5"
            (click)="toggleBasemap('Gray', 'basemap5')"
          />
          Gray <br />
        </label>
      </div>
    </div>
    <hr class="below" />
    <div
      class="sidebar-header"
      (click)="showAuxLayers = !showAuxLayers"
      [ngClass]="{ expanded: showAuxLayers }"
    >
      <i class="fal fa-object-group"></i>
      <b><span>Map Layers</span></b>
    </div>
    <hr class="below" />

    <!-- Auxlayer content -->
    <div class="sidebar-content" [ngClass]="{ expanded: showAuxLayers }">
      <div id="sidebarAuxLayers" class="sidebarLayer">
        <label>
          <input
            type="checkbox"
            id="basinID"
            checked
            (click)="toggleMapLayer('basin', 'basinID', basinVisible)"
          />Great Lakes Basin Boundary<br />
          <input
            type="checkbox"
            id="subBasinID"
            (click)="toggleMapLayer('basinArea', 'subBasinID', subBasinVisible)"
          />Great Lakes Sub-Basins<br />
          <input
            type="checkbox"
            id="waterID"
            (click)="toggleMapLayer('watersheds', 'waterID', watershedsVisible)"
          />Watersheds<br />
          <input
            type="checkbox"
            checked
            id="gageID"
            (click)="toggleMapLayer('gageSites', 'gageID', this.gageVisible)"
          />Gages<br />
          <input
            type="checkbox"
            id="streamRiver"
            disabled
            (click)="
              toggleMapLayer('majorStreamlines', 'streamRiver', streamVisible)
            "
          />Streams and Rivers*<br />
          <div class="zoomWarning">*Available at zoom level 12 and greater</div>
        </label>
      </div>
    </div>
    <hr class="below" />
    <div
      class="sidebar-header"
      (click)="showFilters = !showFilters"
      [ngClass]="{ expanded: showFilters }"
    >
      <i class="fa fa-search"></i>
      <b><span>Constituent Select</span></b>
    </div>
    <hr class="below" />
    <!-- Filter Content-->
    <div class="sidebar-content" [ngClass]="{ expanded: showFilters }">
      <div
        id="sidebarFilters"
        class="sidebarLayer"
        style="margin-right: 50px; margin-left: -20px"
      >
        <div
          id="constPanel"
          class="panel-collapse collapse in constituent-panel"
          role="tabpanel"
          aria-labelledby="constPanelHeader"
        >
          <div id="constDropdowns" style="padding: 2px 2px">
            <label for="typeSelect" class="constLabel">Constituent Group</label>
            <span>
              <select id="groupSelect">
                <option value="Nutrients" select="#nutrientsSelect">
                  Nutrients
                </option>
                <option value="TBD" select="#tbdSelect">TBD</option>
              </select>
            </span>
            <br />
          </div>
          <div>
            <label class="constLabel">Constituent</label>
            <span>
              <select id="typeSelect">
                <option value="Total Phosphorus" select="#tpSelect">
                  Total Phosphorus (TP)
                </option>
                <option value="Chloride" select="#kjSelect">
                  Chloride (Cl)
                </option>
                <option value="Ammonia" select="#nh4Select">
                  Ammonia (NH4)
                </option>
                <option value="Alkalinity" select="#alkalinitySelect">
                  Alkalinity
                </option>
                <option value="Nitrate" select="#no3Select">
                  Nitrate (NO3)
                </option>
                <option value="Sulfate" select="sulfateSelect">
                  Sulfate (NO3)
                </option>
              </select>
            </span>
            <br />
          </div>
          <div>
            <label class="constLabel">Start Year</label>
            <span>
              <select id="yearSelect">
                <option value="2002" select="#2002">2002</option>
                <option value="1992" select="#1992">1992</option>
                <option value="1982" select="#1982">1982</option>
                <option value="1972" select="#1972">1972</option>
              </select>
            </span>
          </div>
          <div style="text-align: center; color: gainsboro">
            <button (click)="filterSites()" class="blueButton">
              Filter Sites
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="wimCred">
      <a href="https://wim.usgs.gov/" class="wimCred">Powered by WIM</a>
    </div>
  </div>

  <!-- Sidebar lightbox for mobile -->
  <div
    id="sidebarLightbox"
    [ngClass]="{ visible: expandSidebar }"
    (click)="expandSidebar = false"
  ></div>
</div>
