<i
  class="far"
  id="sidebarToggle"
  (click)="expandSidebar = !expandSidebar"
  [ngClass]="{ 'fa-bars': !expandSidebar, 'fa-times': expandSidebar }"
></i>

<div
  id="sidebar"
  [ngClass]="{ expanded: expandSidebar }"
  style="background-color: #eceef3"
>
  <!-- Scrolling sidebar content -->
  <div class="sidebar-scroll">
    <!--  Sidebar Basemaps  -->
    <div
      class="sidebar-header"
      (click)="showBasemaps = !showBasemaps"
      [ngClass]="{ expanded: showBasemaps }"
    >
      <i class="fal fa-map"></i>
      <b><span>Basemaps</span></b>
    </div>
    <hr class="below" />

    <!-- Basemaps content -->
    <div class="sidebar-content" [ngClass]="{ expanded: showBasemaps }">
      <div id="sidebarBasemaps" class="sidebarLayer">
        <label>
          <input
            type="radio"
            id="basemap1"
            (click)="toggleBasemap('OpenStreetMap', 'basemap1')"
          />
          Streets
          <br />
          <input
            type="radio"
            checked
            id="basemap2"
            (click)="toggleBasemap('Topo', 'basemap2')"
          />
          Topographic <br />
          <input
            type="radio"
            id="basemap3"
            (click)="toggleBasemap('Terrain', 'basemap3')"
          />
          Terrain
          <br />
          <input
            type="radio"
            id="basemap4"
            (click)="toggleBasemap('Satellite', 'basemap4')"
          />
          Satellite <br />
          <input
            type="radio"
            id="basemap5"
            (click)="toggleBasemap('Gray', 'basemap5')"
          />
          Gray <br />
        </label>
      </div>
    </div>
    <hr class="below" />
    <div
      class="sidebar-header"
      (click)="showAuxLayers = !showAuxLayers"
      [ngClass]="{ expanded: showAuxLayers }"
    >
      <i class="fal fa-object-group"></i>
      <b><span>Map Layers</span></b>
    </div>
    <hr class="below" />

    <!-- Auxlayer content -->
    <div class="sidebar-content" [ngClass]="{ expanded: showAuxLayers }">
      <div id="sidebarAuxLayers" class="sidebarLayer">
        <label>
          <input
            type="checkbox"
            id="basinID"
            checked
            (click)="toggleMapLayer('basin', 'basinID', basinVisible)"
          />Great Lakes Basin Boundary<br />
          <input
            type="checkbox"
            id="subBasinID"
            (click)="toggleMapLayer('basinArea', 'subBasinID', subBasinVisible)"
          />Great Lakes Sub-Basins<br />
          <input
            type="checkbox"
            id="waterID"
            (click)="toggleMapLayer('watersheds', 'waterID', watershedsVisible)"
          />Watersheds<br />
          <input
            type="checkbox"
            id="streamRiver"
            disabled
            (click)="
              toggleMapLayer('majorStreamlines', 'streamRiver', streamVisible)
            "
          />Streams and Rivers*<br />
          <input
            type="checkbox"
            id="gageID"
            (click)="toggleMapLayer('gageSites', 'gageID', this.gageVisible)"
          />Gages<br />
          <div class="zoomWarning">*Available at zoom level 12 and greater</div>
        </label>
      </div>
    </div>
    <hr class="below" />
    <div
      class="sidebar-header"
      (click)="showFilters = !showFilters"
      [ngClass]="{ expanded: showFilters }"
    >
      <i class="fal fa-bars"></i>
      <b><span>Constituent Select</span></b>
    </div>
    <hr class="below" />
    <!-- Filter Content-->
    <div class="sidebar-content" [ngClass]="{ expanded: showFilters }">
      <div
        id="sidebarFilters"
        class="sidebarLayer"
        style="margin-right: 50px; margin-left: -20px"
      >
        <div
          id="constPanel"
          class="panel-collapse collapse in constituent-panel"
          role="tabpanel"
          aria-labelledby="constPanelHeader"
        >
          <div id="constDropdowns" style="padding: 2px 2px">
            <label for="typeSelect" class="constLabel">Constituent Group</label>
            <span>
              <select id="typeSelect">
                <option value="Nutrients" select="#nutrientsSelect">
                  Nutrients
                </option>
                <option value="TBD" select="#tbdSelect">TBD</option>
              </select>
            </span>
            <br />
          </div>
          <div>
            <label class="constLabel">Constituent</label>
            <span>
              <select id="typeSelect">
                <option value="TP" select="#tpSelect">
                  Total Phosphorus (TP)
                </option>
                <option value="orthoP" select="#orthoPSelect">
                  Dissolved Phosphorus (ortho P)
                </option>
                <option value="SS" select="#ssSelect">
                  Suspended Sediment (SS)
                </option>
                <option value="NO3" select="#no3Select">Nitrate (NO3)</option>
                <option value="KJ" select="#kjSelect">
                  Kjedahl Nitrogen (KJ)
                </option>
                <option value="NH4" select="#nh4Select">Ammonia (NH4)</option>
                <option value="Cl" select="#clSelect">Chloride (Cl)</option>
              </select>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="wimCred">
      <a href="https://wim.usgs.gov/" class="wimCred">Powered by WIM</a>
    </div>
  </div>

  <!-- Sidebar lightbox for mobile -->
  <div
    id="sidebarLightbox"
    [ngClass]="{ visible: expandSidebar }"
    (click)="expandSidebar = false"
  ></div>
</div>
