
:host ::ng-deep{
    #legendHeader span{
        font-style: normal;
        text-transform: none !important;
        font-weight: 500;
        font-size: 14px !important;
        letter-spacing: 0.3px;
        color: rgb(111, 117, 142);
    }

    #legendHeader{
        padding: 8px;
        cursor: pointer;
        background-color: white;
        text-align: center;
    }
    
    .legendDiv-collapsed{
        display: none;
    }

    #legendDiv{
        padding: 6px 8px;
    }

    .fa-list{
        margin-top: 3px;
    }
    
    #legend{
        min-width: 200px;
    }
}