<div class="collapsible-header"></div>

<div
  id="mapWrapper"
  [ngClass]="{
    collapsed: _mapService.collapsedMap,
    expanded: _mapService.collapsedDataPanel
  }"
>
  <div id="map">
    <div class="leaflet-bottom leaflet-left">
      <div id="latLngScale" class="latLngScale">
        <span class="hover-content" style="background-color: white">
          <b>Map scale </b></span
        >1:<span id="scale">{{ mapScale }}</span> |
        <span class="hover-content"> <b>Zoom level</b></span>
        <span id="zoomLevel"> {{ mapZoomLevel }}</span
        ><br />
        <span class="hover-content"><b>Latitude</b></span>
        <span id="latitude"> {{ latitude }}</span> |
        <span class="hover-content"> <b>Longitude</b></span>
        <span id="longitude"> {{ longitude }}</span>
      </div>
    </div>
  </div>

  <div
    id="extentBtn"
    class="extentBtn leaflet-bar leaflet-control leaflet-control-zoom"
    aria-label="Clicking this button zooms map to home extent"
    (click)="zoomHome()"
  >
    <i
      class="fa fa-home w3-xlarge"
      style="text-align: center; font-size: 22px"
    ></i>
  </div>

  <div id="toggleMap">
    <div
      *ngIf="!_mapService.collapsedMap"
      (click)="_mapService.expandCollapseDataPanel()"
    >
      <i
        class="far"
        [ngClass]="{
          'fa-expand': _mapService.collapsedDataPanel,
          'fa-minus-square': !_mapService.collapsedDataPanel
        }"
      ></i>
      <b
        *ngIf="!_mapService.collapsedDataPanel"
        style="font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif"
        ><label>Collapse Results Panel</label></b
      >
      <b
        *ngIf="_mapService.collapsedDataPanel"
        style="font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif"
        ><label>Results Panel</label></b
      >
    </div>
  </div>
</div>
